<nav class="navbar navbar-default" ng-controller="NavbarCtrl">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">Carnagy Analytics&trade;</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav pull-right">
                <li class="active">
                    <a href="#"><i class="glyphicon glyphicon-user"></i>&nbsp;Winchentso</a>
                </li>
            </ul>
        </div>
    </div>
  </div>
</nav>
